@import './../styles/sass/variebles.scss';
@import './../styles/sass/mixins.scss';

.title {
  //background-color: #ac5d5d;
  left: auto;
  width: 100%;
  margin: 0 0 33px;
  position: relative;
  padding: 0;
  @include text($textFontFamily, 48px, 100, 1.2);

  h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 300;
    display: flex;
    justify-content: center;

  }

  &::after {
    content: '';
    position: absolute;
    background-color: $primaryColor;
    width: 55px;
    height: 1px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
    margin-bottom: 15px;
  }
}





