@import './../styles/sass/variebles.scss';

.title {
    //background-color: #ac5d5d;
    margin: 0 0 33px;
    position: relative;
    font-family: 'Inter', sans-serif;
    color: $textColor;
    font-weight: 100;
    //font-size: 48px;
    line-height: 1.2;
    padding: 0;
    h2 {
        margin: 0;
        font-size: 48px;
        font-weight: 300;

    }
    &::after {
        content: '';
        position: absolute;
        background-color: $primaryColor;
        width: 55px;
        height: 1px;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, 50%);
        margin-bottom: 15px;
    }
}





