@import "./src/comon/styles/sass/variebles";

.formBlock {
}

.formContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    label {
        color: white;
    }
    textarea {
        background-color: $bgSecondColor;
        border: none;
        height: 140px;
        //border-bottom: $secondTextColor;
    }
}

.formContainer input, .formContainer textarea {
    width: 100%;
    margin-bottom: 3px;
}



@media screen and (max-width: 430px){
    .formContainer {
        width: 100%;
    }
}

.buttonWrapper {
    margin-top: 30px;
}