.container {
    border: 1px solid white;
    height: 100%;
    max-width: 1130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*.container:nth-child(2n) {*/
/*    background-color: #a8a83d;*/
/*}*/