@import "./src/comon/styles/sass/variebles";

.contactsBlock {
    background-color: $bgSecondColor;
    padding: 100px 0;
}

.contactsContainer {
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: #ef6a3d;
}

.button {
    background-color: gray;
}

