@import "./src/comon/styles/sass/variebles";

.iconMenu {
  position: absolute;
  right: 68px;
  top: 60px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #575757;
  align-items: center;
  justify-content: center;
  gap: 4px;
  cursor: pointer;
  transition: .3s;
  background: $bgColor;
  z-index: 99;
  @media screen and (max-width: 1024px) {
    right: 38px;
    top: 100px;
    position: fixed;
    opacity: 0.9;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }

  &:hover {
    border: $primaryColor solid 1px;

    :nth-child(1) {
      background-color: $primaryColor;
      transition: all 0.3s ease-in-out 0s;
    }

    :nth-child(2) {
      background-color: $primaryColor;
      transition: all 0.3s ease-in-out 0s;
    }
  }

  .bar {
    width: 20px;
    display: block;
    height: 2px;
    background: #fff;
    transition: .3s;
  }
}

