.skillsBlock {
    min-height: 100vh;
    background-color: #a8a83d;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid white;

}

.title {
    background-color: #acacac;
}

.skills {
    border: 1px solid white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.jsIcon {
    color: #e7e755;
}

.reactIcon {
    color: #55e7ca;
}

.htmltIcon {
    color: #d55f26;
}

.cssIcon {
    color: #1155dc;
}

@media screen and (max-width: 627px) {
    .skills {
        justify-content: center;
    }
}