@import "./src/comon/styles/sass/variebles";
@import "./src/comon/styles/sass/mixins";

.skillsBlock {
  @include block();

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .content {
      .skills {
        //border: $whiteBorder;
        width: 100%;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        box-sizing: border-box;
        @media screen and (max-width: 627px) {
          justify-content: center;
        }
      }
    }
  }
}



