.subtitle {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  //margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin: 53px;
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
}

.fullInput {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  //margin: 0;
  border: 1px solid #565656;
  padding: 9px 20px;
  border-radius: 30px;
  margin: 53px;
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
}