@import "./src/comon/styles/sass/variebles.scss";


.App {
  background-color: $bgColor;
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  @media screen and (max-width: 1300px ) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }

}

