
.project {
    width: 350px;
    background-color: #7f6d6d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    height: 300px;
    width: 100%;
    background-color: #863535;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img::before {
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}

.viewButton {
    background-color: antiquewhite;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.textWraper {
    width: 100%;
    background-color: #d2baba;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.projectInfo {
    padding: 25px;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}

.projectTitle {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}

