@import "./src/comon/styles/sass/variebles";
.inputGroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 50%;
  margin-bottom: 34px;
  color: $textColor;
  background-color: $bgColor;
  //margin-left: 1px;
  //margin-right: 1px;
  @media screen and (max-width: 624px ) {
    width: 100%;
  }

  label {
    text-transform: uppercase;
  }
  input {
    background-color: $bgSecondColor;
    border: none;
    height: 30px;
    //font-size: 25px;

  }
}

.span {
  color: $secondTextColor;
}