@import "./src/comon/styles/sass/variebles";
.inputGroup {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 50%;
  margin-bottom: 34px;
  color: $textColor;
  background-color: $bgColor;
  //margin-left: 1px;
  //margin-right: 1px;
  @media screen and (max-width: 624px ) {
    width: 100%;
  }

  label {
    text-transform: uppercase;
  }
  input {
    background-color: $bgColor;
    border: none;
    height: 30px;
    color: white;
    //font-size: 25px;
    &:focus {
      outline: none;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 500s ease-in-out 0s;
}
input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

.span {
  color: $secondTextColor;
}