.header {
    height: 200px;
    background-color: #4383f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social {
    border: 1px solid;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.icon {
    background-color: darkgray;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vkIcon {
    color: #4C75A3;
}

.telegramIcon {
    color: #0088cc;
}

.whatsAppIcon {
    color: #128C7E;
}