@import './../comon/styles/sass/variebles.scss';
@import './../comon/styles/sass/mixins.scss';

.projectsBlock {
    @include block();
    .projectsContainer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        .content {
            .projects {
                //border: 1px solid;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                flex-wrap: wrap;
                @media screen and (max-width: 624px ) {
                    justify-content: center;
                }
            }
        }
    }
}



