@import './../comon/styles/sass/variebles.scss';

.projectsBlock {
    background-color: $bgColor;
    padding: 100px 0;
    .projectsContainer {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
        .projects {
            //border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            @media screen and (max-width: 624px ) {
                justify-content: center;
            }
        }
    }
}



